/*************************************************/
/* STYLE.CSS - MOBILE FIRST (MAX WIDTH 480 PIXEL */
/*************************************************/

/* AREA DEFINIZIONE VARIABILI */
:root{
/* VARIABILI DIMENSIONALI */
--header_height: 10vh;
--main_margin_mob: 10vw;
--main_margin_tab: 5vw;
--main_margin_lap: 10vw;
--main_margin_desk: 20vw;
--s_flex_gap_mob: 5vw;
--s_flex_gap_tab: 3vw;

/******************************/

/* VARIABILI CROMATICHE */
/******************************/
--header_color: #0084FD;
--menu_item_color: lightgray;
--s_1_cards_color: #B5DDFF;
--s_1_icon_color: #0084FD;
}
/******************************/

/* Settore classi generiche */
.white_text{
    color: white;
}

.b_rad_1{
    border-radius: 1rem;
}
/****************************/

/* Settore "HEADER" e "NAV"*/
header{
    height: var(--header_height);
    padding: 0 var(--main_margin_mob);
    background-color: var(--header_color);
}

nav{
    width: 100%;
    height: 100%;
}

#logo{
    max-height: 80%;
}

#mob_tab_menu{
    display: inline-block;
}

#desktop_menu{
    flex-basis: 65%;
    display: none;
}

#desktop_menu a{
    color: var(--menu_item_color);
}

#desktop_menu .btn_normal{
    background-color: white;
    color: black
}
/********************/

/* Settore "Section */
#section_1{
    margin: calc(2 * var(--header_height)) var(--main_margin_mob);
    gap: var(--s_flex_gap_mob);
}

#section_1 .s_1_card, #section_1 > #s_1_wide_card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: var(--s_flex_gap_mob);
    background-color: var(--s_1_cards_color);
    padding: var(--s_flex_gap_mob);
}

#section_1 > #s_1_wide_card img{
    width: 100%;
}

.s_1_card > a{
    font-size: 1.3rem;
    font-weight: 600;
    color: var(--s_1_icon_color);
}

.s_1_card .btn_normal{
    color: white;
    background-color: var(--s_1_icon_color);
}

.s_1_icon{
    display: block;
    font-size: 5rem;
    margin-bottom: var(--s_flex_gap_mob);
}

.s_1_card > p{
    line-height: 1.5rem;
    color: #5A6E7F;
}
/***********************/
/* SETTORE MEDIA QUERY */

/* MEDIA QUERY PER TABLET */
@media screen and (min-width: 480px)
{
    header{
        padding: 0 var(--main_margin_tab);
    }

    #section_1{
        flex-flow: row wrap;
        margin: calc(2 * var(--header_height)) var(--main_margin_tab);
        gap: var(--s_flex_gap_tab);
    }

    #section_1 > .s_1_card, #section_1 > #s_1_wide_card{
        gap: var(--s_flex_gap_tab);
        padding: var(--s_flex_gap_tab);
        justify-content: flex-start;
        align-items: stretch;
    }

    /* Solo cards discendenti dirette, non quella interna a s_1_wide_card */
    #section_1 > .s_1_card{
        width: calc((100% - (2 * var(--s_flex_gap_tab))) / 3);
    }

    #section_1 > #s_1_wide_card{
        width: calc((((100% - (2 * var(--s_flex_gap_tab))) / 3) * 2) + var(--s_flex_gap_tab));
    }

    #section_1 > #s_1_wide_card img{
        width: 70%;
    }

    #section_1 > #s_1_wide_card *{
        justify-content: flex-start;
        align-items: flex-start;
    }

    #s_1_wide_card > .s_1_card{
        padding: 0;
    }

    .s_1_card > a{
        font-size: 1.1rem;
    }

    .s_1_icon{
        font-size: 3rem;
        margin-bottom: var(--s_flex_gap_tab);
    }
    
    .s_1_card > p{
        line-height: 1.1rem;
    }
    
}
/**************************/

/* MEDIA QUERY PER LAPTOP & DESKTOP */
@media screen and (min-width: 768px)
{
    header, #section_1{
        padding: 0 var(--main_margin_lap);
    }

    #mob_tab_menu{
        display: none;
    }

    #desktop_menu{
        display: flex;
    }
}
/***************************/

/* MEDIA QUERY PER DESKTOP */
@media screen and (min-width: 1400px)
{
    header, #section_1{
        padding: 0 var(--main_margin_desk);
    }
    
    #desktop_menu{
        flex-basis: 50%;
    }

}
/***************************/
/***************************/