/*************************************************/
/* STYLE.CSS - MOBILE FIRST (MAX WIDTH 499 PIXEL */
/*************************************************/

/* AREA DEFINIZIONE VARIABILI */
:root
{
/* VARIABILI DIMENSIONALI */
--header_height: 10vh;
/* le --main_margin_XXX danno la centratura della nav e delle sezioni */
--main_margin_mob: 10vw;
--main_margin_tab: 5vw;
--main_margin_desk: 20vw;
/* le --s_flex_gap_XXX settano il gap dei flexbox ed i padding all'interno delle sezioni */
--s_flex_gap_mob: 5vw;
--s_flex_gap_tab: 3vw;
--s_flex_gap_desk: 2vw;

/******************************/

/* VARIABILI CROMATICHE */
/******************************/
--header_color: #0084FD;
--menu_item_color: lightgray;
--s_1_cards_color: #B5DDFF;
--s_1_icon_color: #0084FD;
--section_blue: #9792E4;
}
/******************************/

/* Settore classi generiche */
.white_text
{
    color: white;
}

.b_rad_1
{
    border-radius: 1rem;
}

.b_rad_2
{
    border-radius: 2rem;
}

a
{
    text-decoration: none;
}
/****************************/

/* Settore "HEADER" e "NAV"*/
header
{
    height: var(--header_height);
    padding: 0 var(--main_margin_mob);
    background-color: var(--header_color);
}

nav
{
    width: 100%;
    height: 100%;
}

#logo
{
    max-height: 80%;
}

#mob_tab_menu
{
    display: inline-block;
}

#desktop_menu
{
    flex-basis: 70%;
    display: none;
}

#desktop_menu a
{
    color: var(--menu_item_color);
}

#desktop_menu .btn_normal
{
    background-color: white;
    color: black
}
/********************/

/* Settore "Section */

main > section:nth-child(even)
{
    background-color: var(--section_blue);
}

main > section
{
    width: 100%;
    padding: var(--header_height) var(--main_margin_mob);
}

main > section:first-child
{
    margin-top: var(--header_height);
}

main > section .d_flex
{
    gap: var(--s_flex_gap_mob);
}

main > section a
{
    font-size: 1.2rem;
    font-weight: 600;
}

main > section p
{
    line-height: 1.2rem;
}

#s1 > .card_set > .d_flex
{
    background-color: var(--s_1_cards_color);
    padding: var(--s_flex_gap_mob);
}

#s1 > .card_set > #s1_wide_card .btn_normal
{
    color: white;
    background-color: var(--s_1_icon_color);
}

#s1 > .card_set > #s1_wide_card > img
{
    width: 80%;
}

#s1 > .card_set .s1_card .s1_icon
{
    display: block;
    margin-bottom: var(--s_flex_gap_mob);
    font-size: 4rem;
}

#s2 > .card_set img
{
    width: 100%;
} 

#s2 > .card_set > #strategic > h2, #s2 > .card_set > #strategic > p
{
    color: white;
    margin-top: calc(var(--s_flex_gap_mob) * 2);
}

#s2 > .card_set > #app_dev
{
    background-color: white;
    padding: var(--s_flex_gap_mob);
    margin-top: var(--s_flex_gap_mob);
}

#s2 > .card_set > #app_dev > .circ_btn
{
    color: black;
    width: 3rem;
    height: 3rem;
    text-align: center;
    line-height: 3rem;
    font-size: 1rem;
    background-color: var(--section_blue);
    border-radius: 50%;
}

#s3 > #testimonials > h2
{
    color: var(--s_1_icon_color);
}

#s3 > #testimonials > .card_set > .s3_card
{
    padding: var(--s_flex_gap_mob);
    background-color: var(--section_blue);
}

#s3 > #testimonials > .card_set > .s3_card > .card_photo > img
{
    width: 40vw;
    height: 40vw;
    object-fit: cover;
    border-radius: 50%;
}

#s3 > #testimonials p
{
    line-height: 1.5rem;
    margin-bottom: 2rem;
}

#s4 > .card_set
{
    padding-top: var(--header_height);
}

#s4 > .card_set > .s4_card
{
    padding: var(--s_flex_gap_mob);
    flex-basis: 100%;
    background-color: white;
    align-self: stretch;
}

#s4 > .card_set > .s4_card > h3
{
    color: var(--section_blue);
    font-size: 3rem;
}

#s4 > .card_set > .s4_card > h4
{
    color: var(--section_blue);
    font-size: 1rem;
}

#s4 > .card_set > .s4_card > p
{
    line-height: 1.5rem;
}

#s4 > .card_set > .s4_card > .btn_slim
{
    color: white;
    background-color: var(--section_blue);
}

#5 > #about_us 
{
    gap: var(--s_flex_gap_mob);
}

#s5 > #about_us > #about_us_left,
#s5 > #about_us > #about_us_right
{
    flex-basis: 100%;
}

#s5 > #about_us > #about_us_left > h2
{
    color: var(--section_blue);
}

#s5 > #about_us > #about_us_left > p
{
    line-height: 1.3;
    margin: var(--s_flex_gap_mob) 0;
}

#s5 > #about_us > #about_us_right
{
    padding: var(--s_flex_gap_mob) 0;
}

#s5 > #about_us > #about_us_right > div.p_rel
{
    width: 60%;
}

#s5 > #about_us > #about_us_right > div.p_rel > img
{
    width: 100%;
    border-radius: 50%;
}

#s5 > #about_us > #about_us_right > div.p_rel > i
{
    color: var(--section_blue);
    font-size: 4rem;
}

#s5 > #about_us > #about_us_right > strong
{
    color: var(--section_blue);
    line-height: 2rem;
    font-size: 2rem;
}

/* #s5 > #about_us > #about_us_right > a
{
    display: inline-block;
    width: 60%;
    background-color: var(--section_blue);
    color: white;
} */




/* MEDIA QUERY PER TABLET */


@media only screen and (min-width: 500px)
{
    header
    {
        padding: 0 var(--main_margin_tab);
    }

    main > section
    {
        padding-left: var(--main_margin_tab);
        padding-right: var(--main_margin_tab);
    }
    
    main > section .d_flex
    {
        gap: var(--s_flex_gap_tab);
    }

    #s1 > .card_set
    {
        flex-flow: row wrap;
    }

    #s1 > .card_set > .d_flex
    {
        padding: var(--s_flex_gap_tab);
        justify-content: flex-start;
    }

    #s1 > .card_set > .s1_card
    {
        flex-basis: calc((100% - (2 * var(--s_flex_gap_tab))) / 3);
    }

    #s1 > .card_set > #s1_wide_card
    {
        flex-basis: calc((((100% - (2 * var(--s_flex_gap_tab))) / 3) * 2) + var(--s_flex_gap_tab));
        align-items: flex-start;
    }

    #s1 > .card_set > #s1_wide_card > .s1_card
    {
        align-items: flex-start;
    }

    #s1 > .card_set > #s1_wide_card img
    {
        width: 60%;
    }

    #s1 > .card_set .s1_card .s1_icon
    {
        margin-bottom: var(--s_flex_gap_tab);
    }

    #s2 > .card_set > #strategic > h2, #s2 > .card_set > #strategic > p
    {
        margin-top: calc(var(--s_flex_gap_tab) * 2);
    }
    
    #s2 > .card_set > #app_dev
    {
        padding: var(--s_flex_gap_tab);
        margin-top: var(--s_flex_gap_tab);
    }

    #s3 > #testimonials > .card_set > .s3_card
    {
        padding: var(--s_flex_gap_tab);
        flex-direction: row;
    }

    #s3 > #testimonials > .card_set > .s3_card > .card_photo > img
    {
        width: 30vw;
        height: 30vw;
    }

    #s3 > #testimonials > .card_set > .s3_card > .card_text
    {
        text-align: left;
    }

    #s4 > .card_set > .s4_card
    {
        padding: var(--s_flex_gap_tab);
        flex-basis: calc((100% - var(--s_flex_gap_tab)) / 2);
    }
    
    #s5 > #about_us
    {
        flex-wrap: nowrap;
        gap: var(--s_flex_gap_tab);
    }

    #s5 > #about_us > #about_us_left
    {
        flex-basis: calc((100% - var(--s_flex_gap_tab)) * 0.55);
    }

    #s5 > #about_us > #about_us_right
    {
        flex-basis: calc((100% - var(--s_flex_gap_tab)) * 0.42);
    }

    #s5 > #about_us > #about_us_left > p
    {
        line-height: 1.3;
        margin: var(--s_flex_gap_tab) 0;
    }

    #s5 > #about_us > #about_us_right
    { 
        padding: 0;
    }

    #s5 > #about_us > #about_us_right > div.p_rel
    {
        width: 90%;
    }

    #s5 > #about_us > #about_us_right > div.p_rel > img
    {
        width: 100%;
        border-radius: 50%;
    }

    #s5 > #about_us > #about_us_right > div.p_rel > i
    {
        color: var(--section_blue);
        font-size: 2.5rem;
    }

    #s5 > #about_us > #about_us_right > strong
    {
        color: var(--section_blue);
        line-height: 1rem;
        font-size: 1rem;
    }

    /* #s5 > #about_us > #about_us_right > a
    {
        display: inline-block;
        width: 60%;
        background-color: var(--section_blue);
        color: white;
    } */

    #s5 > #about_us
    {
        gap: var(--s_flex_gap_desk);
    }

    #s5 > #about_us > #about_us_left
    {
        flex-basis: calc((100% - var(--s_flex_gap_desk)) * 0.55);
    }

    #s5 > #about_us > #about_us_right
    {
        flex-basis: calc((100% - var(--s_flex_gap_desk)) * 0.42);
    }

    #s5 > #about_us > #about_us_left > p
    {
        line-height: 1.3;
        margin: var(--s_flex_gap_desk) 0;
    }

    #s5 > #about_us > #about_us_right > div.p_rel > i
    {
        color: var(--section_blue);
        font-size: 3.5rem;
    }

    #s5 > #about_us > #about_us_right > strong
    {
        color: var(--section_blue);
        line-height: 1rem;
        font-size: 1rem;
    }
} 
/**************************/



/* MEDIA QUERY PER LAPTOP & DESKTOP */
@media only screen and (min-width: 900px)
{
    header
    {
        padding: 0 var(--main_margin_desk);
    }

    #mob_tab_menu
    {
        display: none;
    }

    #desktop_menu
    {
        display: flex;
        font-size: 0.75rem;
    }

    main > section
    {
        padding-left: var(--main_margin_desk);
        padding-right: var(--main_margin_desk);
    }
    
    main > section .d_flex
    {
        gap: var(--s_flex_gap_desk);
    }

    #s1 > .card_set > .d_flex
    {
        padding: var(--s_flex_gap_desk);
    }

    #s1 > .card_set > .s1_card
    {
        flex-basis: calc((100% - (2 * var(--s_flex_gap_desk))) / 3);
    }

    #s1 > .card_set > #s1_wide_card
    {
        flex-basis: calc((((100% - (2 * var(--s_flex_gap_desk))) / 3) * 2) + var(--s_flex_gap_desk));
        flex-direction: row;
        justify-content: space-around;
    }

    #s1 > .card_set > #s1_wide_card > .s1_card
    {
        flex-basis: 70%;
    }

    #s1 > .card_set > #s1_wide_card > img
    {
        width: 40%;
        align-self: flex-end;
    }

    #s1 > .card_set .s1_card .s1_icon
    {
        margin-bottom: var(--s_flex_gap_desk);
    }

    #s2 > .card_set
    {
        flex-direction: row;
        justify-content: space-around;
    }

    #s2 > .card_set > #strategic > h2, #s2 > .card_set > #strategic > p
    {
        margin-top: calc(var(--s_flex_gap_desk) * 2);
    }
    
    #s2 > .card_set > #strategic
    {
        flex-basis: 50%;
    }

    #s2 > .card_set > #app_dev
    {
        flex-basis: 30%;
        padding: var(--s_flex_gap_desk);
        margin-top: var(--s_flex_gap_desk);
        align-self: flex-end;
    }

    #s3 > #testimonials > .card_set > .s3_card
    {
        padding: var(--s_flex_gap_desk);
    }

    #s3 > #testimonials > .card_set > .s3_card > .card_photo > img
    {
        width: 15vw;
        height: 15vw;
    }

    #s4 > .card_set > .s4_card
    {
        padding: var(--s_flex_gap_desk);
        flex-basis: calc((100% - (2 * var(--s_flex_gap_desk))) / 3);
    }

    #s5 > #about_us
    {
        gap: var(--s_flex_gap_desk);
    }

    #s5 > #about_us > #about_us_left
    {
        flex-basis: calc((100% - var(--s_flex_gap_desk)) * 0.55);
    }

    #s5 > #about_us > #about_us_right
    {
        flex-basis: calc((100% - var(--s_flex_gap_desk)) * 0.42);
    }

    #s5 > #about_us > #about_us_left > p
    {
        line-height: 1.7rem;
        font-size: 1.7rem;
        margin: var(--s_flex_gap_desk) 0;
    }

    #s5 > #about_us > #about_us_right > div.p_rel > i
    {
        color: var(--section_blue);
        font-size: 3.5rem;
    }

    #s5 > #about_us > #about_us_right > strong
    {
        color: var(--section_blue);
        line-height: 1rem;
        font-size: 1rem;
    }
}

/***************************/

/* MEDIA QUERY PER DESKTOP */
@media only screen and (min-width: 1400px)
{

    #desktop_menu
    {
        flex-basis: 50%;
        font-size: initial;
    }

}
/***************************/